@import "../config/colors";

.appointment-h1{
  color: #61A8D3;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.appointment-h3{
color: #6B6B6B;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 20px;
}

.appointment-container{
  background: #FFF;
  box-shadow: 0px 3.3977813720703125px 3.3977813720703125px 0px rgba(0, 0, 0, 0.25);
}

.appointment-input{
  border-radius: 8.494px;
  border: 0.849px solid #EAEAEA;
  background: #FFF;
  color: #6B6B6B;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-rdv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  margin: 10px;
}

#patient-name {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.titles {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 5px;
}

#rdv {
  text-align: left;
  margin-left: 50px;
}

.consultation-btn{
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
  height: 110px;
  width: 80%;
  background-color: #F9F9F9;
  border-radius: 7px;

  .active {
    font-weight: 600;
    color: #3575AB;
    font-size: 16px;
    text-decoration: none;
  }

  .non-active{
    font-weight: 400;
    color: #C2C2C2;
    font-size: 16px;
    text-decoration: none;
  }
}


#my-consults-btn {
  text-decoration: none;
  &:hover {
    color: #3575AB;
    cursor: pointer;
  }
}
#all-consults-btn {
  text-decoration: none;
  &:hover {
    color: #3575AB;
    cursor: pointer;
  }
}

.detail-consult {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  justify-content: center;
  padding: 15px;
  width: 80%;
  margin: 5px auto;
  .year {
    font-weight: 800;
    color: #3575AB;
    font-size: 20px;
  }
  .month {
    font-weight: 600;
    color: #6B6B6B;
    font-size: 14px;
    padding-left: 15px;
  }
}
