.container-ordonnance{
  width: 900px;
  margin: 0 auto ;
}

.container-infos-ordonnance {
  display: flex; // Display the divs in a grid container
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.container-medicaments-ordonnance{
  display: flex;
  flex-direction: column;
}

.bold {
  color: #6B6B6B;
  font-family: poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.commentary{
  color: #6B6B6B;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 200;
  padding-bottom: 25px;
}

.svg-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 20px auto; /* Optional margin for spacing */
  p {
     /* Make the text underneath the SVG */
    margin-top: 0px; /* Add spacing between SVG and text */
    font-size: 14px; /* Adjust font size as needed */
    color: #333; /* Text color */
  }
}

.svg-container svg {
  width: 95px; /* Adjust size as needed */
  height: 95px;
}
