<!-- _doctor-info.html.erb -->
<div id="doctorInfo" class="doctor-info">
  <span id="doctorName"><%="Dr.#{current_user.first_name.upcase} #{current_user.last_name}"%></span><br>
  <span id="doctorSpecialty"><%=current_user.doctor.specialty%></span>
</div>
