
<div id="doctorInfo" class="doctor-info">
  <span id="doctorName"><%="Dr. #{current_user.first_name.camelcase} #{current_user.last_name.upcase}"%></span><br>
  <span id="doctorSpecialty"><%=current_user.doctor.specialty%></span>
</div>
