<!DOCTYPE html>
<html>

  <footer class="footer">
    <div class="footer-logo">
      <!-- Logo du footer -->
    </div>
    <div class="contact-info">
      <p>Nous contacter <a href="mailto:contact@ordonet.com">contact@ordonet.com</a></p>
      <p>&copy; <%= Time.now.year %> Ordonet. Tous droits réservés.</p>
    </div>
  </footer>
</body>
</html>
