<div class="container">
  <div id="mySidenav" class="sidenav">
    <%= render 'shared/doctor-info'%>

    <div id="doctorInfo" class="doctor-info">
      <span id="doctorName"></span><br>
      <span id="doctorSpecialty"></span>
    </div>

    <ul class="nav-links">
      <li class="nav-link">
        <%= link_to dashboard_path do %>
          <i class='bx bx-home-alt icon'></i>
          <span class="text nav-text">Dashboard</span>
        <% end %>
      </li>
      <li class="nav-link">
        <%= link_to new_appointment_path do %>
          <i class='bx bx-calendar icon'></i>
          <span class="text nav-text">Rendez-vous</span>
        <% end %>
      </li>
      <li class="nav-link">
        <%= link_to doctor_patients_path(doctor_id: current_user.id) do %>
          <i class='bx bxs-user-detail icon'></i>
          <span class="text nav-text">Patients</span>
        <% end %>
      </li>
    </ul>
  </div>

  <button class="round-btn" onclick="toggleNav()">
    <span class="icon bx bx-chevron-right toggle"></span>
  </button>
</div>

<script>


  function toggleNav() {
    var sidenavWidth = "250px";
    var sidenav = document.getElementById("mySidenav");
    var roundBtn = document.querySelector(".round-btn");
    var mainContent = document.getElementById("main");

    if (sidenav.style.width === sidenavWidth) {
      sidenav.style.width = "0";
      roundBtn.classList.remove("active");
      mainContent.style.marginLeft = "0";
    } else {
      sidenav.style.width = sidenavWidth;
      roundBtn.classList.add("active");
      mainContent.style.marginLeft = sidenavWidth;
    }

    var loggedIn = true;
    if (loggedIn) {
      var doctorName = currentUserName;

      var doctorNameElement = document.getElementById("doctorName");

      doctorNameElement.textContent = doctorName;
    }
  }
</script>
