<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">
  <div id="mySidenav" class="sidenav">
    <div class="doctor-info">
      <span class="name">Nom du Docteur</span>
      <span class="speciality">Spécialité</span>
    </div>

    <a href="dashboard">
      <i class='bx bx-home-alt icon'></i> Dashboard
    </a>

    <!--  Manque leLink to Rendez-vous -->
    <a href="#">
      <i class='bx bx-calendar icon'></i> Rendez-vous
    </a>

    <!-- Manque le Link to Patients -->
    <a href="#">
      <i class='bx bxs-user-detail icon'></i> Patients
    </a>
  </div>

  <button class="round-btn" onclick="toggleNav()">
    <span class="icon bx bx-chevron-right toggle"></span>
  </button>
</div>

<script>
function toggleNav() {
  var sidenavWidth = "250px";
  var sidenav = document.getElementById("mySidenav");
  var roundBtn = document.querySelector(".round-btn");
  var mainContent = document.getElementById("main");

  if (sidenav.style.width === sidenavWidth) {
    sidenav.style.width = "0";
    roundBtn.classList.remove("active");
    mainContent.style.marginLeft = "0";
  } else {
    sidenav.style.width = sidenavWidth;
    roundBtn.classList.add("active");
    mainContent.style.marginLeft = sidenavWidth;
  }
}

function updateDoctorInfo(name, specialty) {
  var doctorName = document.querySelector(".name");
  var doctorSpeciality = document.querySelector(".speciality");
  doctorName.textContent = name;
  doctorSpeciality.textContent = specialty;
}

updateDoctorInfo("Dr. Dupont Moretti", "Généraliste");
</script>

</body>
</html>
