@import "../config/colors";
.primary-btn{
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: fit-content;
  margin: 10px;
}

.secondary-btn{
  background: $secondary-color;
  color: #565656;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: fit-content;
  margin: 10px;
  font-weight: 350;
}
