@import "../config/colors";
.primary-button{
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: fit-content;
  margin: 10px;
}

.secondary-btn{
  background: $secondary-color;
  color: #565656;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: fit-content;
  margin: 10px;
  font-weight: 350;
}

.register-button{
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: 100%;
  margin: 10px;
}

.register-button-second{
  background-color: $secondary-color;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: 100%;
  margin: 10px;
}

.ordo-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.create-ordo {
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  color: $third-color;
  padding: 10px 20px;
  border-radius: 4px;
  max-height: 50%;
  margin: 10px;
  font-weight: 350;
  font-size: 14px;
  max-width: fit-content;
}

.button-ordo {
  text-decoration: none;
  color: #565656;
}

.decoration-none{
  text-decoration: none;
}
