.primary-btn{
  background-color: #3575AB;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: fit-content;
  margin: 10px;
}

.secondary-btn{
  background: rgba(157, 231, 215, 0.80);
  color: #565656;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: fit-content;
  margin: 10px;
  font-weight: 350;
}
