@import "../config/colors";

.footer {
  width: 100%;
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 0;
  z-index: 1000;
}

.footer-logo {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-info {
  a {
    color: white;
    text-decoration: none;
  }
}
