@import "../config/colors";

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  position: relative;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.574);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
color: #3575AB;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


.round-btn {
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: -23px;
  transition: 0.5s;
  transform: translateX(0);
}

.round-btn.active {
  transform: translateX(250px);
}

.round-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.doctor-info {
  color: black;
  text-align: center;
  margin: 20px 0;
}

#doctorName {
  font-size: 24px;
  font-weight: bold;
}

#doctorSpecialty {
  font-size: 18px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: block;
  margin-bottom: 20px;
}

.nav-link:last-child {
  margin-bottom: 0;
}
