
  header {
    background-color: rgba(154, 154, 154, 0.741);
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  .welcome-text {
    text-align: center;
    margin-top: 50px;
  }
  .features {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .feature {
    text-align: center;
    margin: 0 20px;
  }
  .feature-icon {
    font-size: 48px;
    color: #3498db;
  }
  .feature-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
