@import "bootstrap";
@import "font-awesome";
@import "components/index";

@import "pages/index";
@import "config/colors";


body{
  height: 100vh;
  overflow: scroll;
}

*{
  font-family : 'popins', sans-serif;
}
