@import "bootstrap";
@import "font-awesome";
@import "components/index";

@import "pages/index";
@import "config/colors";


body{
  overflow: scroll;
  padding: 0;
  margin: 0;
}

*{
  font-family : 'popins', sans-serif;
}

.favicon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
