body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

.patient-container {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  color: #3575AB;
  padding: 10px;
  margin: 19px;
  margin-left: 300px;
}

/* Style pour le conteneur #search-bar */
#search-bar {
  text-align: center; /* Centrer le contenu horizontalement */
  margin-top: 20px; /* Espacement en haut du conteneur */
}

/* Style pour le champ de texte */
#search-bar input[type="text"] {
  border: 2px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  width: 53%;
}

/* Style pour le bouton de soumission */
#search-bar input[type="submit"] {
  border: none;
  padding: 5px 10px;
  margin: -10px -79px;
  border-radius: 5px;
}


#patient-info {
  margin-left: 284px;
  margin-right: 20px;
  padding: 20px;
}

.patient-card {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.patient-card:hover{
  background-color: #f5f5f5;
}

.small-text {
  font-size: 15px;
}

a.patient-link {
  color: inherit;
  text-decoration: none;
}
